.container {
  width: 95vw;
  height: 90vh;
  padding: 5px;
  margin: 2rem auto 0;
  border-radius: 4px;
  background-color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.appTitle {
  display: flex;
  width: 40%;
}

.logo {
  max-width: 50px;
  max-height: 71px;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.title {
  color: #1E508C;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 5px;
}

.subTitle {
  margin: 0;
  color: #007E57;
  font-size: 17px;
}

.appSelect {
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 50px;
}

.leftButton, .rightButton {
  padding: 1em 1em 0.9em;
}

.leftButton, .rightButton, .selectInput {
  border: 2px solid #DDDDDD;
  background-color: white;
  border-radius: 4px;
  color: #666;
}

.selectInput {
  padding: 0.6em 2em;
  margin: 0 1em;
  text-align: center;
  appearance: none;
  font-size: 20px;
}

.selectInput::after {
  content: 'oal mundo';
  color: tomato;
}

.selectInput:hover, .selectInput:active, .selectInput:focus,
.leftButton:hover, .leftButton:active, .leftButton:focus, 
.rightButton:hover, .rightButton:active, .rightButton:focus {
  outline: none;
  border-color: #1E508C;
  color: #1E508C;
}
