.container {
  width: 95vw;
  height: 90vh;
  padding: 5px;
  margin: 2rem auto 0;
  border-radius: 4px;
  background-color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.appTitle {
  display: flex;
  width: 40%;
}

.logo {
  max-width: 50px;
  max-height: 71px;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.title {
  color: #1E508C;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 5px;
}

.subTitle {
  margin: 0;
  color: #007E57;
  font-size: 17px;
}

.appNav {
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 50px;
  margin-top: 10px;
}

.appNavItem {
  border: 2px solid #DDDDDD;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0.9em 0.5em 0.4em;
  background-color: white;
  color: #666;
}

.appNavItem:hover {
  outline: none;
  border-color: #1E508C;
  color: #1E508C;
  cursor: pointer;
}
